@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* font-family: 'Roboto', sans-serif; */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    color: black;
    align-items: center;
    margin-top: 2px;
    margin-left: 8px;
}
li{
    display: inline-block;
}

.left-side-nav li{
    padding: 8px;
    font-size: 16px;
   
}

.right-side-nav{
    display: flex;
    align-items: center;
}

.right-side-nav li{
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-right: 12px;
}

#grid{
    height: 24px;
    color: white;
}

#grid:hover{
        background-color: rgb(243, 243, 243);
        border-radius: 4px;
        padding: 4px;
      
}

#sign-in-btn{
    background-color:#1a73e8;
    background-size: 16;
    color: white;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 15px;
    cursor: pointer;
}

#sign-in-btn:hover{
    cursor: pointer;
    filter: brightness(104%);

}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    text-decoration: underline;
}

.main-logo{
    display: flex;
    justify-content: center;
}

.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#googlelogo{
    height: 200;
    width: 400px;
    
}

.bar-section{
    display: flex;
    justify-content: center;

}
.bar{
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 482px;
    border-radius: 20px;
}








